.titulo{
    margin-top: 40px;
}



.contenedor{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 100px auto 0;
    width: 300px;
    height: 430px;
    padding: 35px;
    background-color: rgb(69, 68, 70);
    border-radius: 10px;
    }

.signo{
    padding: 8px 19px !important;
}

.pantalla-cal{
    width: 224px;
    height: 100px;
    font-size: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgb(184, 183, 183);
}


